html(lang='en')
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //link(rel='stylesheet', href='/public/css/bootstrap.css')
        //link(rel='stylesheet', href='/public/css/slick.css')
        //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,400,700')
        //link(rel='stylesheet', href='/public/css/style.css')
        //link(rel='stylesheet', href='/public/css/bootstrap-table.css')
        //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css')
        //link(rel='stylesheet', href='/public/css/bootstrap-select.css')
        //link(rel='stylesheet', href='/public/css/font-awesome.css')
        //link(rel='stylesheet', href='/public/css/selectize.css')
        link(rel='stylesheet', href='/public/css/style2.css')
        //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        //script(src='/public/js/slick.js')
        //
        //script(src='/public/js/popper.js')
        //script(src='/public/js/tooltip.js')
        //script(src='/public/js/bootstrap.js')
        //script(src='/public/js/bootstrap-table.js')
        //script(src='/public/js/bootstrap-select.js')
        //script(src='/public/js/selectize.js')
        //script(src='/public/js/Chart.js'
        script(src='/public/js/script.js')

    body
        if messages
            if messages.warning
                if messages.warning.length
                    div.alert.alert-warning.alert-dismissable
                        a(data-dismiss="alert", aria-label="close").close &times;
                        strong #{messages.warning}
            if messages.danger
                if messages.danger.length
                    div.alert.alert-danger.alert-dismissable
                        a(data-dismiss="alert", aria-label="close").close &times;
                        strong #{messages.danger}
            if messages.success
                if messages.success.length
                    div.alert.alert-success.alert-dismissable
                        a(data-dismiss="alert", aria-label="close").close &times;
                        strong #{messages.success}


        div.hear
                div.name1
                    img(src="../public/img/star.svg", alt="Логотип").logo
                    h1.name2 Единая скорая медицинская служба
                div.in
                    if (userData)
                        div.dropdown
                            input(type='button' id ='btn' value='Меню').btn



                        p #{userData[0].firstName} #{userData[0].Name} #{userData[0].MiddleName} Бригада #{userData[0].Numbr}
                            div(aria-labelledby="accountDropDown").dropdown-menu
                                a(href="/logout").dropdown-item Выйти


        br