<!DOCTYPE html>
<body lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>

</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
    <div class="in">
        <button class="btn">
            <div class="usn">
                <%= userData[0].firstName %>  <%= userData[0].name[0] %>. <%= userData[0].MiddleName[0] %>.
            </div>
            <div class="prof">
                <%= userData[0].typeWorker %> Бригада № <%= userData[0].NumBr %>
            </div>

        </button>
        <div class="dropdown">
            <a href="/logout" class="dropdown-items">Выйти</a>
        </div>
    </div>
</header>
<nav class="nav">
    <a class="nav__link nav_active" href="/account">Добавить диагноз</a>
    <a class="nav__link" href="/account_otch">Добавить симптом</a>
    <a class="nav__link" href="/account_ac">Добавить анализ</a>
    <a class="nav__link" href="/account_ac">Добавить лекарство</a>
    <a class="nav__link" href="/account_ac">Добавить бригаду</a>

</nav>

<% if (messages){
if(messages.warning){
if(messages.warning.length){
%>
    <div class="alert-warning"><strong><%= messages.warning %></strong></div>
<%
}
}
if(messages.danger){
if(messages.danger.length){
%>
    <div class="alert-danger"><strong><%= messages.danger %></strong></div>
<% }
}
if(messages.success){
if(messages.success.length){
%>
    <div class="alert-sucess"><strong><%= messages.success %></strong></div>
<% }
}
} %>
<div class="add_diagnosis">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление диагноза</legend>
            <label class="search-label" for="surname">Наименование диагноза:</label>
            <input class="surname" type="text" id="surname" name="surname" required>
            <label class="search-label" for="name"> Симптомы:</label>
            <select>
                <% for(var i = 0; i < list_values.length; i++) { %>
                    <option><%= list_values[i].Symptom_name%></option>
                <% } %>
            </select>
            <button class="button" type="submit" id="subsear">Добавить</button>
        </fieldset>
    </form>
</div>

<div class="add_symptom">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление симптома</legend>
            <label class="search-label" for="surname">Наименование симптома:</label>
            <input class="surname" type="text" id="surname" name="surname" required>
            <button class="button" type="submit" id="subsear">Добавить</button>
        </fieldset>
    </form>
</div>

<div class="add_analysis">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление анализа</legend>
            <label class="search-label" for="surname">Наименование анализа:</label>
            <input class="surname" type="text" id="surname" name="surname" required>
            <button class="button" type="submit" id="subsear">Добавить</button>
        </fieldset>
    </form>
</div>

<div class="add_medicine">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление лекарства</legend>
            <label class="search-label" for="surname">Наименование лекарства</label>
            <label class="search-label" for="name">Диагноз:</label>
            <select class="ui fluid search dropdown" multiple="">
                <option value="">State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
            </select>
            <button class="button" type="submit" id="subsear">Добавить</button>
        </fieldset>
    </form>
</div>

<div class="add_brigade">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление бригады</legend>
            <label class="search-label" for="surname">Наименование бригады:</label>
            <input class="surname" type="text" id="surname" name="surname" required>
            <label class="search-label" for="name">Врач:</label>
            <input class="name" type="text" id="name" name="name" placeholder="ФИО" required>
            <label class="search-label" for="Lastname">Водитель:</label>
            <input class="Lastname" type="text" id="Lastname" name="Lastname" placeholder="ФИО" required>
            <label class="search-label" for="Lastname">Медсестра:</label>
            <input class="Lastname" type="text" id="Lastname" name="Lastname" placeholder="ФИО" required>
            <button class="button" type="submit" id="subsear">Поиск</button>
        </fieldset>
    </form>
</div>

<div class="black-list" hidden>
    <p class="black-list-n">Пациент в черном списке</p>
</div>
<div class="not-patient" hidden>
    <p class="not-patient-n">Пациента нет в базе</p>
</div>
<div class="in-base" hidden>
    <p class="in-base-n">Пациент есть в базе</p>
</div>
<footer class="foot">
    <p class="container">Copyright © Бакулина Елизавета, Гербовец Даниил, Крыжановская Ксения</p>
</footer>

<script src="../public/account_admin.js"></script>
</body>
</html>