<!DOCTYPE html>
<body lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' , href='/public/css/style2.css'>
</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
    <div class="in">
        <button class="btn">
            <div class="usn">
                <%= userData[0].firstName %>  <%= userData[0].name[0] %>. <%= userData[0].MiddleName[0] %>.
            </div>
            <div class="prof">
                <%= userData[0].typeWorker %> Бригада № <%= userData[0].NumBr %>
            </div>
            
        </button>
        <div class="dropdown">
            <a href="/logout" class="dropdown-items">Выйти</a>
        </div>
    </div>
</header>
<nav class="nav">
    <a class="nav__link" href="/account">Регистрация вызова</a>
    <a class="nav__link nav_active" href="/account_otch">Отчетность</a>
    <a class="nav__link" href="/account_by">Бухгалтерия</a>
</nav>
<nav class="menu_otch">
    <a href="/account_otch" class="link_submenu act">Бригады</a>
    <a href="/account_otch_pat" class="link_submenu">Пациент</a>
</nav>
<% if (messages){
    if(messages.warning){
        if(messages.warning.length){
%>
    <div class="alert-warning"><strong><%= messages.warning %></strong></div>
    <%
        }
    }
    if(messages.danger){
        if(messages.danger.length){
    %>
    <div class="alert-danger"><strong><%= messages.danger %></strong></div>
    <% }
    }
    if(messages.success){
        if(messages.success.length){
    %>
    <div class="alert-sucess"><strong><%= messages.success %></strong></div>
    <% }
    }
} %>
<table class="t1">
    <tr>
        <th>
            <form action="" class=<%=BrigadeData[0].id%>>
                <input type="text" class="br" name="id_br" hidden value=<%=BrigadeData[0].id%>>
                <button type="submit" class="button2"> <%= BrigadeData[0].BrigadeName%> </button>
            </form>
        </th>
        <th class="st">Статус
                <div class="status"> 
                    <span class="good" hidden>Свободен</span>
                    <span class="bad" hidden>Занят</span>
                </div>
        </th>
    </tr>        
    <tr>
        <th><form action="" class=<%=BrigadeData[1].id%>>
            <input type="text" class="br" name="id_br" hidden value=<%=BrigadeData[1].id%>>
            <button type="submit" class="button2"> <%= BrigadeData[1].BrigadeName%> </button>
        </form></th>
        <th class="ss">Состав
                <div class="sostav"></div>
        </th>
    </tr>
    <tr>
        <th>
            <form action="" class=<%=BrigadeData[2].id%>>
                <input type="text" class="br" name="id_br" hidden value=<%=BrigadeData[2].id%>>
                <button type="submit" class="button2"> <%= BrigadeData[2].BrigadeName%> </button>
            </form>
        </th> 
        <th class="last_vyz"> Последние вызовы
                <div class="history">
                </div>
        </th>
    </tr>
    <tr>
        <th></th> 
        <th>
            <div class="grah"></div>
        </th> 
    </tr>

</table>
<footer class="foot">
    <p class="container">Copyright © Бакулина Елизавета, Гербовец Даниил, Крыжановская Ксения</p>
</footer>
<script src="../public/registration_request.js"></script>
<script src="../public/search_brigades.js"></script>
<script src="../public/data.js"></script>

</body>
</html>