<!DOCTYPE html>
<body lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' , href='/public/css/style2.css'>
</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
    <div class="in">
        <button class="btn">
            <div class="usn">
                <%= userData[0].firstName %>  <%= userData[0].name[0] %>. <%= userData[0].MiddleName[0] %>.
            </div>
            <div class="prof">
                <%= userData[0].typeWorker %> Бригада № <%= userData[0].NumBr %>
            </div>
            
        </button>
        <div class="dropdown">
            <a href="/logout" class="dropdown-items">Выйти</a>
        </div>
    </div>
</header>
<nav class="nav">
    <a class="nav__link" href="">Активные вызовы</a>
    <a class="nav__link nav_active" href="">Карта вызова</a>
</nav>

<% if (messages){
    if(messages.warning){
        if(messages.warning.length){
%>
    <div class="alert-warning"><strong><%= messages.warning %></strong></div>
    <%
        }
    }
    if(messages.danger){
        if(messages.danger.length){
    %>
    <div class="alert-danger"><strong><%= messages.danger %></strong></div>
    <% }
    }
    if(messages.success){
        if(messages.success.length){
    %>
    <div class="alert-sucess"><strong><%= messages.success %></strong></div>
    <% }
    }
} %>
<div class="form_upd_req">
    <form action="" method="post">
        <fieldset>
            <legend class='sear2'>Карта вызова</legend>
            <label class="search-label" for="BlackList">Страховая компания:</label>
            <input class="BlackLIst" type="checkbox" name="BlackList" id="BlackList">
            <label class="search-label" for="surname">Фамилия:</label>
            <input class="surname" type="text" id="surname2" name="surname" placeholder="Фамилия" required value=<%= ReqData[0].PatientSurname %> readonly>
            <label for="name" class="search-label">Имя:</label>
            <input class="name" type="text" id="name2" name="name" placeholder="Имя" required value=<%= ReqData[0].PatientName %> readonly>
            <label class="search-label" for="Lastname">Отчество:</label>
            <input class="Lastname" type="text" id="Lastname2" name="Lastname" placeholder="Отчество" required value=<%= ReqData[0].PatientMiddleName %> readonly>
            <label class="search-label" for="adress">Адрес:</label>
            <input class="adress" type="text" id="adress" name="adress" placeholder="Адрес" required readonly value=<%= ReqData[0].PatientAddress %>>
            <label class="search-label" for="ops">Описание случая:</label>
            <textarea name="ops" class="ops" cols="30" rows="10" placeholder="Краткое описание причины вызова" required value=<%= ReqData[0].InformalDescription %></textarea>
            <label class="search-label" for="dateRequest">Дата и время принятия вызова:</label>
            <input class="dateRequest" type="text" id="dateRequest" name="dateRequest" required readonly value=<%= ReqData[0].RequestTime %>>
            <label class="search-label" for="dateAccept">Дата и время принятия вызова бригадой:</label>
            <input class="dateRequest" type="text" id="dateRequest" name="dateAccept" required readonly value=<%= ReqData[0].AcceptTime %>>
            <label class="search-label" for="dateArrive">Дата и время прибытия</label>
            <input type="datetime-local" name="dateArrive" class="date-time" required readonly pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}">
            <input class="button_31" type="button" value="Заполнить"> <br>
            <label class="search-label" for="Symptom">Симптомы</label>
            <select name="Symptom" id="Symptom" multiple class="js-selectize" placeholder="Выберите Симптомы">
                    <option value="" class='Symptomopt'></option>
                    <% 
                        for( let i=0; i< SymData.length ; i++)
                        {
                        %>
                        <option class='Symptomopt' value=<%=SymData[i].id%>><%= SymData[i].Symptom_name %></option>
                        <%
                        }
                        %>
            </select>
            <input class="button_32" type="button" value="Выбрать"> <br>
            <label class="search-label" for="Issledovania">Исследования</label>
            <select name="Issledovania" id="Issledovania" multiple class="js-selectize" placeholder="Выберите исследования">
                <option value="" class="Issledovaniaopt"></option>
                <% 
                    for( let i=0; i< IsData.length ; i++)
                    {
                    %>
                    <option class="Issledovaniaopt" value=<%=IsData[i].id%>><%= IsData[i].AnalysisName %></option>
                    <%
                    }
                    %>
            </select>
            <input class="button_33" type="button" value="Выбрать"><br>
            <label class="search-label" for="Diagnosis">Диагноз</label>
            <select name="Diagnosis" id="Diagnosis" class="js-selectize" placeholder="Выберите диагноз">
                <option value="" class="Diagnosisopt"></option>
            </select>
            <input class="button_34" type="button" value="Выбрать"><br>
            <label class="search-label" for="Medicine">Лекарства</label>
            <select name="Medicine" id="Medicine" class="js-selectize" placeholder="Выберите диагноз">
                <option value="" class="Medicineopt"></option>
            </select>
            <input class="button_35" type="button" value="Выбрать"><br>
            <label class="search-label" for="Hospitalization">Госпитализация</label>
            <input class="button_35" type="button" value="Подтвердить"><br>
            <input class="Hospitalizationch" type="checkbox" name="Hospitalization" id="Hospitalizationch" hidden>
            <label class="search-label" for="Rasstoynie" hidden>Расстояние:</label>
            <input class="Rasstoynie" type="number" id="Rasstoynie" name="Rasstoynie" placeholder="Расстояние" hidden>
            <label class="search-label" for="countReq" hidden>Стоимость</label>
            <input class="countReq" type="number" id="countReq" name="countReq" placeholder="Стоимость" >
            <input class="button_36" type="button" value="Рассчитать"><br>
            <label class="search-label" for="dateEndRequestTime">Дата и время Окончания вызова</label>
            <input type="datetime-local" name="dateEndRequestTime" class="date-time" required readonly pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}">
            <input class="button_37" type="button" value="Заполнить"> <br>
            <label class="search-label" for="dateArrive">Дата и время возврата</label>
            <input type="datetime-local" name="dateArrive" class="date-time" required readonly pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}">
            <input class="button_38" type="button" value="Заполнить"> <br>
            <button class="button2" type="submit">Закрыть вызов</button>
        </fieldset>
    </form>
</div>
<script>
    $(document).ready(function(){
        $('.js-selectize').selectize();
    });
    </script>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="https://snipp.ru/cdn/microplugin.js/src/microplugin.js"></script>
<script src="https://snipp.ru/cdn/sifter.js/sifter.min.js"></script>
<script src="https://snipp.ru/cdn/selectize.js/0.12.6/dist/js/selectize.min.js"></script>
<script src="../public/registration_request.js"></script>
</body>
</html>