<!DOCTYPE html>
<body lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' , href='/public/css/style2.css'>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo" multiple="multiple">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
    <div class="in">
        <button class="btn">
            <div class="usn">
                <%= userData[0].firstName %>  <%= userData[0].name[0] %>. <%= userData[0].MiddleName[0] %>.
            </div>
            <div class="prof">
                <%= userData[0].typeWorker %> Бригада № <%= userData[0].NumBr %>
            </div>

        </button>
        <div class="dropdown">
            <a href="/logout" class="dropdown-items">Выйти</a>
        </div>
    </div>
</header>
<nav class="nav">
    <a class="nav__link nav_active" id="add_diagnosis_nav" href="#0">Добавить диагноз</a>
    <a class="nav__link" id="add_symptom_nav" href="#0">Добавить симптом</a>
    <a class="nav__link" id="add_analysis_nav" href="#0">Добавить анализ</a>
    <a class="nav__link" id="add_medicine_nav" href="#0">Добавить лекарство</a>
    <a class="nav__link" id="add_brigade_nav" href="#0">Добавить бригаду</a>

</nav>

<% if (messages){
if(messages.warning){
if(messages.warning.length){
%>
    <div class="alert-warning"><strong><%= messages.warning %></strong></div>
<%
}
}
if(messages.danger){
if(messages.danger.length){
%>
    <div class="alert-danger"><strong><%= messages.danger %></strong></div>
<% }
}
if(messages.success){
if(messages.success.length){
%>
    <div class="alert-sucess"><strong><%= messages.success %></strong></div>
<% }
}
} %>

<div class="add_diagnosis">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление диагноза</legend>
            <label class="search-label" for="surname">Наименование диагноза:</label>
            <input class="surname" type="text" id="diagnosis_name" required>
            <label class="search-label" for="name"> Симптомы:</label>
            <select id="select_symptoms" multiple>
                <% for(var i = 0; i < list_values.length; i++) { %>
                    <option><%= list_values[i].Symptom_name%></option>
                <% } %>
            </select>
            <button class="button" type="submit" id="submit_add_diagnosis">Добавить</button>
            <label class="success_request" for="surname">Диагноз успешно добавлен в базу</label>
            <label class="error_request" for="surname">Ошибка: диагноз уже есть в базе!</label>
        </fieldset>
    </form>
</div>

<div class="add_symptom" id="add_symptom">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление симптома</legend>
            <label class="search-label" for="surname">Наименование симптома:</label>
            <input class="surname" type="text" id="addSymptom" required>
            <button class="button" type="submit" id="submit_add_symptom">Добавить</button>
            <label class="success_request" for="surname">Симптом успешно добавлен в базу</label>
            <label class="error_request" for="surname">Ошибка: симптом уже есть в базе!</label>
        </fieldset>
    </form>
</div>

<div class="add_analysis">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление анализа</legend>
            <label class="search-label" for="surname">Наименование анализа:</label>
            <input class="surname" type="text" id="add_analysis" required>
            <button class="button" type="submit" id="submit_add_analysis">Добавить</button>
        </fieldset>
    </form>
</div>

<div class="add_medicine">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление лекарства</legend>
            <label class="search-label" for="surname">Наименование лекарства</label>
            <input class="surname" type="text" id="name_medicine" required>
            <label class="search-label" for="name">Диагноз:</label>
            <select id="select_diagnosis">
                <% for(var i = 0; i < list_values_diagnosis.length; i++) { %>
                    <option><%= list_values_diagnosis[i].Diagnosis_name %></option>
                <% } %>
            </select>
            <button class="button" type="submit" id="submit_add_medicine">Добавить</button>
        </fieldset>
    </form>
</div>

<div class="add_brigade">
    <form class="search" name="search-form">
        <fieldset>
            <legend class='sear2'>Добавление бригады</legend>
            <label class="search-label" for="surname">Наименование бригады:</label>
            <input class="surname" type="text" id="surname" name="surname" required>
            <button class="button" type="submit" id="subsear">Добавить</button>
        </fieldset>
    </form>
</div>

<footer class="foot">
    <p class="container">Copyright © Бакулина Елизавета, Гербовец Даниил, Крыжановская Ксения</p>
</footer>

<script src="../public/account_admin.js"></script>
</body>
</html>