<!DOCTYPE html>
<body lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' , href='/public/css/style2.css'>
</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
    <div class="in">
        <button class="btn">
            <div class="usn">
                <%= us[0].firstName %>  <%= us[0].name[0] %>. <%= us[0].MiddleName[0] %>.
            </div>
            <div class="prof">
                <%= us[0].typeWorker %> Бригада № <%= us[0].NumBr %>
            </div>
            
        </button>
        <div class="dropdown">
            <a href="/logout" class="dropdown-items">Выйти</a>
        </div>
    </div>
</header>
<nav class="nav">
    <a class="nav__link nav_active" href="/accoun_doctor">Активные вызовы</a>
    <a class="nav__link" href="">Карта вызова</a>
</nav>

<% if (messages){
    if(messages.warning){
        if(messages.warning.length){
%>
    <div class="alert-warning"><strong><%= messages.warning %></strong></div>
    <%
        }
    }
    if(messages.danger){
        if(messages.danger.length){
    %>
    <div class="alert-danger"><strong><%= messages.danger %></strong></div>
    <% }
    }
    if(messages.success){
        if(messages.success.length){
    %>
    <div class="alert-sucess"><strong><%= messages.success %></strong></div>
    <% }
    }
} %>

<div class="vyzov">
    <table class="t3">
        <tr class="tr3">
            <th class="13">id Вызова
            </th>
            <th class="23">Описание случая</th>
            <th class="33">Время вызова</th>
            <th class="43">Действие</th>
        </tr>
        <% for(let i=0; i < vyzov.length; i++){
            %><tr class="tr3">
                <th class="13"><%= vyzov[i].id %></th>
                <th class="23"><%= vyzov[i].InformalDescription%></th>
                <th class="33"><%= vyzov[i].RequestTime%></th>
                <th class="43">
                <form class="f_inf_req" action="/account_doctor" method="POST" >
                    <input type="number" name="brigade" class='brrrr' value=<%= us[0].NumBr %> hidden>
                    <input class="BB"type="button" value=<%= vyzov[i].id %>>
                </form>
                
                </th>
            </tr><%
        }
        %>
    </table>
</div>
<div class="form_req" hidden>
        <form action="/close_req" method="POST" class="req">
            <fieldset>
                <legend class='sear2'>Карта вызова</legend>
                <label class="search-label" for="BlackList">Черный список:</label>
                <input class="BlackLIst" type="checkbox" name="BlackList" id="BlackList"><br>
                <input class="id" type="text" id="id" name="" placeholder="Фамилия" required hidden>
                <label class="search-label" for="surname">Фамилия:</label>
                <input class="surname" type="text" id="surname2" name="surname" placeholder="Фамилия" required ><br>
                <label for="name" class="search-label">Имя:</label>
                <input class="name" type="text" id="name2" name="name" placeholder="Имя" required>
                <label class="search-label" for="Lastname">Отчество:</label>
                <input class="Lastname" type="text" id="Lastname2" name="Lastname" placeholder="Отчество" required>
                <label class="search-label" for="adress">Адрес:</label>
                <input class="adress" type="text" id="adress" name="adress" placeholder="Адрес" required >
                <label class="search-label" for="ops">Описание случая:</label>
                <textarea name="ops" class="ops" cols="30" rows="3" placeholder="Краткое описание причины вызова" required></textarea>
                <label class="search-label" for="dateRequest">Дата и время принятия вызова:</label>
                <input class="dateRequest" type="text" id="dateRequest" name="dateRequest" required><br>
                <label class="search-label" for="dateAccept">Дата и время принятия вызова бригадой:</label>
                <input class="dateAccept" type="text" id="dateRequest" name="dateAccept" required><br>
                <label class="search-label" for="dateArrive">Дата и время прибытия</label>
                <input type="datetime-local" name="dateArrive" class="date-time1" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}">
                <input class="button_31" type="button" value="Заполнить"> <br>
                <label class="search-label" for="Symptom">Симптомы</label>
                <select name="Symptom" id="Symptom" multiple class="js-selectize1" placeholder="Выберите Симптомы">
                        <option value="" class='Symptomopt'></option>
                </select>
                <input class="button_32" type="button" value="Выбрать"> <br>
                <label class="search-label" for="Issledovania">Исследования</label>
                <select name="Issledovania" id="Issledovania" multiple class="js-selectize4" placeholder="Выберите исследования">
                    <option value="" class="Issledovaniaopt"></option>
                </select>
                <input class="button_33" type="button" value="Выбрать"><br>
                <label class="search-label" for="Diagnosis">Диагноз</label>
                <select name="Diagnosis" id="Diagnosis" class="js-selectize" placeholder="Выберите диагноз">
                    <option value="" class="Diagnosisopt"></option>
                </select>
                <input class="button_34" type="button" value="Выбрать"><br>
                <label class="search-label" for="Medicine">Лекарства</label>
                <select name="Medicine" id="Medicine" class="js-selectize2" multiple placeholder="Выберите диагноз">
                    <option value="" class="Medicineopt"></option>
                </select>
                <input class="button_35" type="button" value="Выбрать"><br>
                <label class="search-label" for="Hospitalization">Госпитализация</label>
                <input class="Hospitalizationch" type="checkbox" name="Hospitalization" id="Hospitalizationch"> <br>
                <label class="search-label" for="Rasstoynie" hidden>Расстояние:</label>
                <input class="Rasstoynie" type="number" id="Rasstoynie" name="Rasstoynie" placeholder="Расстояние" hidden><br>
                <label class="search-label" for="countReq" hidden>Стоимость</label>
                <input class="countReq" type="number" id="countReq" name="countReq" placeholder="Стоимость" >
                <input class="button_36" type="button" value="Рассчитать"><br>
                <label class="search-label" for="dateEndRequestTime">Дата и время Окончания вызова</label>
                <input type="datetime-local" name="dateEndRequestTime" class="date-time2" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}">
                <input class="button_37" type="button" value="Заполнить"> <br>
                <label class="search-label" for="dateRefund">Дата и время возврата</label>
                <input type="datetime-local" name="dateRefund" class="date-time3" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}">
                <input class="button_38" type="button" value="Заполнить"> <br>
                <button class="button2" type="submit">Закрыть вызов</button>
            </fieldset>
        </form>
</div>
<script>
    $(document).ready(function(){
        $('.js-selectize').selectize();
    });
</script>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="https://snipp.ru/cdn/microplugin.js/src/microplugin.js"></script>
<script src="https://snipp.ru/cdn/sifter.js/sifter.min.js"></script>
<script src="https://snipp.ru/cdn/selectize.js/0.12.6/dist/js/selectize.min.js"></script>
<script src="../public/registration_request.js"></script>
<script src="../public/zap_cart.js"></script>
</body>
</html>