<!DOCTYPE html>
<body lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' , href='/public/css/style2.css'>
</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
    <div class="in">
        <button class="btn">
            <div class="usn">
                <%= userData[0].firstName %>  <%= userData[0].name[0] %>. <%= userData[0].MiddleName[0] %>.
            </div>
            <div class="prof">
                <%= userData[0].typeWorker %> Бригада № <%= userData[0].NumBr %>
            </div>
            
        </button>
        <div class="dropdown">
            <a href="/logout" class="dropdown-items">Выйти</a>
        </div>
    </div>
</header>
<nav class="nav">
    <a class="nav__link" href="/account">Регистрация вызова</a>
    <a class="nav__link nav_active" href="/account_otch">Отчетность</a>
    <a class="nav__link" href="/account_ac">Бухгалтерия</a>
</nav>
<nav class="menu_otch">
    <a href="/account_otch" class="link_submenu">Бригады</a>
    <a href="/account_otch_pat" class="link_submenu act">Пациент</a>
</nav>
<% if (messages){
    if(messages.warning){
        if(messages.warning.length){
%>
    <div class="alert-warning"><strong><%= messages.warning %></strong></div>
    <%
        }
    }
    if(messages.danger){
        if(messages.danger.length){
    %>
    <div class="alert-danger"><strong><%= messages.danger %></strong></div>
    <% }
    }
    if(messages.success){
        if(messages.success.length){
    %>
    <div class="alert-sucess"><strong><%= messages.success %></strong></div>
    <% }
    }
} %>
<div class="pat">
    <form action="" class="otc_pat">
        <select name="pat" id="" class="js-selectize" placeholder="Выберите пациента">
            <option value=""></option>
            <% 
                for( let i=0; i< PatientData.length ; i++)
                {
                %>
                <option value=<%=PatientData[i].id%>><%= PatientData[i].PatientSurname %>  <%= PatientData[i].PatientName[0] %>. <%= PatientData[i].PatientMiddleName[0] %></option>
                <%
                }
                %>
        </select>
        <button type="submit" class="button2">Поиск</button>
    </form>
</div>
<div class="res_se">
    <div class="name_pat"></div>
    <div class="surname_pat"></div>
    <div class="middlename_pat"></div>
    <div class="adress_pat"></div>
    <div class="ins_pat"></div>
    <div class="ins_type"></div>
    <div class="bl_pat"></div>
    <div class="no_res" hidden>Нет вызовов</div>
    <table class="tab_res" hidden>
        <tr>
            <th class="d">
                <div class="m">Дата и время</div>
            </th>
            <th class="iD">
                <div class="m">id вызова</div> 
            </th>
            <th class="ds">
                <div class="m">Диагноз</div> 
            </th>
            <th class="hos">
                <div class="m">Госпитализация</div> 
            </th>
        </tr>

    </table>
</div>
<script>
    $(document).ready(function(){
        $('.js-selectize').selectize();
    });
    </script>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="https://snipp.ru/cdn/microplugin.js/src/microplugin.js"></script>
<script src="https://snipp.ru/cdn/sifter.js/sifter.min.js"></script>
<script src="https://snipp.ru/cdn/selectize.js/0.12.6/dist/js/selectize.min.js"></script>
<script src="../public/otchet_pat.js"></script>
<script src="../public/registration_request.js"></script>
</body>
</html>