<!DOCTYPE html>
<body lang="en">
<head>
    <title>Скорая медицинская помощь</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' , href='/public/css/style2.css'>
</head>
<body>


<header class="hear">
    <div class="name1"><img src="../public/img/star.svg" alt="Логотип" class="logo">
        <h1 class="name2">Единая система оказания неотложной медицинской помощи</h1></div>
    <div class="in">
        <button class="btn">
            <div class="usn">
                <%= us[0].firstName %>  <%= us[0].name[0] %>. <%= us[0].MiddleName[0] %>.
            </div>
            <div class="prof">
                <%= us[0].typeWorker %> Бригада № <%= us[0].NumBr %>
            </div>
            
        </button>
        <div class="dropdown">
            <a href="/logout" class="dropdown-items">Выйти</a>
        </div>
    </div>
</header>
<nav class="nav">
    <a class="nav__link nav_active" href="/accoun_doctor">Активные вызовы</a>
    <a class="nav__link" href="">Карта вызова</a>
</nav>

<% if (messages){
    if(messages.warning){
        if(messages.warning.length){
%>
    <div class="alert-warning"><strong><%= messages.warning %></strong></div>
    <%
        }
    }
    if(messages.danger){
        if(messages.danger.length){
    %>
    <div class="alert-danger"><strong><%= messages.danger %></strong></div>
    <% }
    }
    if(messages.success){
        if(messages.success.length){
    %>
    <div class="alert-sucess"><strong><%= messages.success %></strong></div>
    <% }
    }
} %>
<div class="vyzov">
    <table class="t3">
        <tr class="tr3">
            <th class="13">id Вызова
            </th>
            <th class="23">Описание случая</th>
            <th class="33">Время вызова</th>
            <th class="43">Действие</th>
        </tr>
        <% for(let i=0; i < vyzov.length; i++){
            %><tr class="tr3">
                <th class="13"><%= vyzov[i].id %></th>
                <th class="23"><%= vyzov[i].InformalDescription%></th>
                <th class="33"><%= vyzov[i].RequestTime%></th>
                <th class="43">
                <form class="f_inf_req" action="/account_doctor" method="POST" >
                    <input type="number" name="brigade" class='brrrr' value=<%= us[0].NumBr %> hidden>
                    <input class="BB"type="button" value=<%= vyzov[i].id %>>
                </form>
                
                </th>
            </tr><%
        }
        %>
    </table>
</div>
<script src="../public/registration_request.js"></script>
<script src="../public/zap_cart.js"></script>
</body>
</html>